<div class="row">
  <div class="col-xs-12">
    <p>Add New Servers or blueprint</p>
    <label for="">Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />
    <label for="">Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <br />
    <button (click)="onAddServer()" class="btn btn-primary">Add Server</button>
    <button (click)="onAddBluePrint()" class="btn btn-primary">
      Add Server Blueprint
    </button>
  </div>
</div>
